* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #222;
    background: #fdf6ee;
    overflow-x: hidden;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #ead9c7;
    align-items: center;
    justify-content: center;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
}

#navbar {
    background-color: #ead9c7;
    align-items: center;
    justify-content: center;
}

#mainNavbar {
    padding: 0px 20px;
}

.container-fluid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    justify-content: center;
}

a .logo {
    font-family: 'Papyrus', fantasy;
    font-size: 2em;
    font-weight: 600;
    color: #111;
}

.nav-item {
    padding: 10px 10px;
}

.navbar-brand {
    font-family: 'Papyrus', fantasy;
    font-size: 2em;
    font-weight: 600;
    color: #111;
}

.navbar-brand:hover {
    color: #b94747;
    ;
}

.navbar-nav .nav-link {
    font-size: 1.2em;
    font-weight: 500;
    color: #333;
    transition: all 0.3s ease;
    text-align: center;
    padding: 10px;
}

.navbar-nav .nav-link:hover {
    color: #111;
    background-color: #fdf6ee;
    transform: scale(1.1);
}

.logo-pic {
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.logo-pic:hover {
    transform: scale(0.9);
}

.login-wrapper {
    justify-content: center;
}

.profile-pic {
    border-radius: 50%;
}

.user-dropdown {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    cursor: pointer;
    justify-content: center;
    white-space: nowrap;
    padding-right: 0;
    font-size: 1.3em;
    font-weight: 500;
    width: fit-content;
    margin-left: auto;
}

.user-dropdown img,
.user-dropdown span {
    vertical-align: middle;
}

.user-dropdown .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 120px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.user-dropdown .dropdown-content a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
}

.user-dropdown .dropdown-content a:hover {
    background-color: #f0f0f0;
}


.user-dropdown:hover .dropdown-content {
    display: block;
}

footer {
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: white;
}

footer img {
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
    background-color: white;
}